body {
  background-color: #d7d9e8;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left {
  flex: 0.9;

}

.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  color:rgb(13, 14, 14);
  text-align: center;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
   .app{
    flex-direction: column;
   }
}